{% extends "index.twig" %}

{% block main %}
  <p class="lead">I am <b>Dennis Dekker</b>, a composer and developer based in Utrecht.</p>
  <p>I specialize in musical storytelling in an often fantastical and magical setting. My musical style is a mix between ambient, orchestral and electronic elements and is inspired by the style of composers and artists such as Thomas Newman, Two Steps From Hell and Safri Duo.</p>

  <h2>Compositions</h2>

  <p>These are some compositions I made in the recent past. On my <a href="{{ links.soundcloud }}">SoundCloud profile</a> you can listen to more compositions.</p>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">No Matter What</h3>
      <p>"Wings or no wings, human or faerie, it all doesn't matter. What matters is that I love you, no matter what."</p>
      {{ soundcloud.oembed('https://soundcloud.com/purplelum/no-matter-what',{'maxheight': 240, 'color': '#aa0050', 'show_comments': false}).html }}
    </div>
  </div>
  
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Once In A Blue Moon</h3>
      <p>If you ever had the chance to escape from reality, where would you go? <i>Once In A Blue Moon</i> tells about a magical world filled with fantasy that you can only visit once in a blue moon.</p>
      {{ soundcloud.oembed('https://soundcloud.com/purplelum/once-in-a-blue-moon',{'maxheight': 240, 'color': '#aa0050', 'show_comments': false}).html }}
    </div>
  </div>       

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">First Rain</h3>
      <p>Originally made for a school assignment in creating meditative lyrical music, <i>First Rain</i> depicts the contrast between ignorance and clarity, resembling the first rainfall after a long dry time.</p>
      {{ soundcloud.oembed('https://soundcloud.com/purplelum/first-rain',{'maxheight': 240, 'color': '#aa0050', 'show_comments': false}).html }}
    </div>
  </div>
    
  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Invisible Wings</h3>
      <p>"Always be yourself, except when you can be a faerie."</p>
      {{ soundcloud.oembed('https://soundcloud.com/purplelum/invisible-wings',{'maxheight': 240, 'color': '#aa0050', 'show_comments': false}).html }}
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title">Quand Les Fées Dorment</h3>
      <p><i>Quand Les Fées Dorment</i> tells us about the dreams that faeries will have when they sleep.</p>
      {{ soundcloud.oembed('https://soundcloud.com/purplelum/quand-les-fees-dorment',{'maxheight': 240, 'color': '#aa0050', 'show_comments': false}).html }}
    </div>
  </div>
{% endblock %}