<!DOCTYPE html>
<html>
  <head>
    {% block head %}
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <meta name="description" content="I am Dennis Dekker, a composer and developer based in Utrecht. I specialize in musical storytelling in an often fantastical and magical setting. My musical style is a mix between ambient, orchestral and electronic elements and is inspired by the style of composers and artists such as Thomas Newman, Two Steps From Hell and Safri Duo.">
      <meta name="keywords" content="dennis, dekker, composer, developer, music, storytelling, fantasy, magic, ambient, orchestral, electronic">

      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
      <link rel="stylesheet" href="{{ assets }}/css/styles.css">

      <link rel="shortcut icon"  type="image/x-icon" href="{{ assets }}/images/favicon.ico">
      <link rel="icon" type="image/png" href="{{ assets }}/images/16px-logo.png" sizes="16x16">
      <link rel="icon" type="image/png" href="{{ assets }}/images/32px-logo.png" sizes="32x32">
      <link rel="icon" type="image/png" href="{{ assets }}/images/96px-logo.png" sizes="96x96">
      <link rel="icon" type="image/png" href="{{ assets }}/images/160px-logo.png" sizes="160x160">
      <link rel="icon" type="image/png" href="{{ assets }}/images/196px-logo.png" sizes="196x196">

      <title>{{ page.title }} / Dennis Dekker</title>
    {% endblock %}
  </head>

  <body>
    <div class="inner">
      <nav class="container">
        {% block nav %}
          <img src="{{ assets }}/images/logo.png" width="80" height="80">
          {% for p in pages %}
            <a {{ p == page ? 'class="active"' : '' }} href="{{ root }}/{{ p.name }}">{{ p.title }}</a>
          {% endfor %}
        {% endblock %}
      </nav>

      <main class="container">
        {% block main %}
        {% endblock %}
      </main>

      <footer class="container">
        {% block footer %}
          <p>
            Copyright &copy; Dennis Dekker, 2017-2018<br>
            Icons by <a href="https://fontawesome.com/">Font Awesome</a>
          </p>
        {% endblock %}
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <script src="{{ assets }}/js/contactform.js"></script>
  </body>
</html>
